// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "util/unit";

.light {
    font-weight: 300;
}

.noborder {
  border: none !important;
}

.hr:nth-child(odd) {
    padding-bottom: calc-rem(20px);
    margin-bottom: calc-rem(20px);
    border-bottom: 1px solid #ccc;

    & ~ .section-header {
        margin-top: calc-rem(40px);
    }
}

.section-header {
    margin: {
        top: 20px;
        bottom: 12px;
    }
    padding-bottom: 8px;
}

.money-usd:before {
  content: "$ ";
}

.page-break {
  page-break-before: auto;
  page-break-inside: avoid;
}

@page {
  mark: crop cross;
}

@media print {
  .dl-horizontal {
    dt {
      float: left;
      clear: left;
    }

    dd { margin-left: calc-rem(180px) !important; }
  }

  // Hack

  // Forza al footnote siempre se coloque al final del documento sin afectar
  // page break ni posicion
  body {
    min-height: 100%;
    height: auto !important;
    height: 100%;

    font-size: calc-rem(14px);
  }

  .footnote {
    margin: {
      top: 200%;
      bottom: 0;
    }
    min-height: 100%;
    position: relative;

    .content {
      padding: 2% 0;
      min-width: 100%;
      width: auto !important;
      position: absolute;
      bottom: -100%;
    }
  }
}
